<!-- File: views/sidebar.html -->
<!-- Logo atau Judul Aplikasi -->
<div class="flex items-center justify-between h-[68px] px-4 border-b border-white/10">
    <h1 class="text-2xl uppercase font-wdxlLubrifontSc text-white/90 font-semibold tracking-wider">Asisten Perjadin
    </h1>
    <img src="/assets/logomelawinew.png" class="h-12 w-auto py-3 rounded-full box-content" alt="logoMelawi">
    <button id="sidebar-close"
        class="p-2 rounded-md text-white focus:outline-none focus:ring-2 focus:ring-white lg:hidden">
        <i class="fas fa-times text-xl"></i>
    </button>
</div>

<!-- Menu Navigasi -->
<nav class="mt-4">
    <!-- Item Menu: Dashboard -->
    <a href="/dashboard" id="nav-dashboard"
        class="flex items-center px-6 py-3 text-white rounded-xl mx-2 transition-colors duration-200 hover:bg-white/10  active:aria-[current=page]:bg-green-100/30">
        <i class="fas fa-home w-6 text-center"></i>
        <span class="ml-4">Dashboard</span>
    </a>

    <!-- Divider -->
    <div class="px-8 py-2">
        <hr class="border-t border-white/10">
    </div>

    <!-- Judul Grup: Master Data -->
    <h3 class="px-8 py-2 text-xs uppercase text-yellowGolder tracking-wider">Master Data</h3>

    <!-- Item Menu: Data Pegawai -->
    <a href="/pegawai" id="nav-pegawai"
        class="flex items-center px-6 py-2 text-white rounded-xl mx-2 transition-colors duration-200 hover:bg-white/10 aria-[current=page]:bg-black/20">
        <i class="fas fa-users w-6 text-center"></i>
        <span class="ml-4">Data Pegawai</span>
    </a>

    <!-- Item Menu: Standar Biaya -->
    <a href="/standar-biaya" id="nav-standar-biaya"
        class="flex items-center px-6 py-2 text-white rounded-xl mx-2 transition-colors duration-200 hover:bg-white/10 aria-[current=page]:bg-black/20">
        <i class="fas fa-tags w-6 text-center"></i>
        <span class="ml-4">Standar Biaya</span>
    </a>

    <!-- Item Menu: Anggaran -->
    <a href="/anggaran" id="nav-anggaran"
        class="flex items-center px-6 py-2 text-white rounded-xl mx-2 transition-colors duration-200 hover:bg-white/10 aria-[current=page]:bg-black/20">
        <i class="fas fa-wallet w-6 text-center"></i>
        <span class="ml-4">Anggaran</span>
    </a>

    <!-- Divider -->
    <div class="px-8 py-2">
        <hr class="border-t border-white/10">
    </div>

    <!-- Judul Grup: Transaksi -->
    <h3 class="px-8 py-2 text-xs uppercase text-yellowGolder tracking-wider">Pelaksanaan & Pengaturan</h3>

    <!-- Item Menu: Daftar SPT -->
    <a href="/spt" id="nav-spt"
        class="flex items-center px-6 py-2 text-white rounded-xl mx-2 transition-colors duration-200 hover:bg-white/10 aria-[current=page]:bg-black/20">
        <i class="fas fa-suitcase-rolling w-6 text-center"></i>
        <span class="ml-4">Surat Tugas - SPD</span>
    </a>

    <!-- Item Menu: Uang Muka -->
    <a href="/uang-muka" id="nav-uang-muka"
        class="flex items-center px-6 py-2 text-white rounded-xl mx-2 transition-colors duration-200 hover:bg-white/10 aria-[current=page]:bg-black/20">
        <i class="fas fa-money-bill-wave w-6 text-center"></i>
        <span class="ml-4">Uang Muka</span>
    </a>

    <!-- Item Menu: Pelaporan -->
    <a href="/laporan" id="nav-laporan"
        class="flex items-center px-6 py-2 text-white rounded-xl mx-2 transition-colors duration-200 hover:bg-white/10 aria-[current=page]:bg-black/20">
        <i class="fas fa-chart-bar w-6 text-center"></i>
        <span class="ml-4">Pelaporan</span>
    </a>

    <!-- Item Menu: Pembayaran -->
    <a href="/pembayaran" id="nav-pembayaran"
        class="flex items-center px-6 py-2 text-white rounded-xl mx-2 transition-colors duration-200 hover:bg-white/10 aria-[current=page]:bg-black/20">
        <i class="fas fa-credit-card w-6 text-center"></i>
        <span class="ml-4">Pembayaran</span>
    </a>

    <!-- Item Menu Dropdown: Pengaturan -->
    <div class="pr-4">
        <button id="settings-button"
            class="w-full flex items-center justify-normal px-6 py-2 mx-2 space-x-8 mt-1 transition-colors duration-200 hover:bg-white/10 focus:bg-white/10 focus:font-bold rounded-xl text-white focus:outline-none p-2 -m-2 ">
            <span class="flex items-center">
                <i class="fas fa-cog w-6 text-center"></i>
                <span class="ml-4">Pengaturan</span>
            </span>
            <i id="settings-arrow" class="fas fa-chevron-down transform transition-transform duration-200"></i>
        </button>
        <div id="settings-submenu" class="pl-8 mt-2 hidden ml-16">
            <a href="/profil" id="nav-profil-saya" class="block py-2 text-gray-300 hover:text-white">Profil Saya</a>
            <a href="/pengguna" id="nav-pengguna" class="block py-2 text-gray-300 hover:text-white">Pengguna</a>
            <a href="/pengaturan/aplikasi" id="nav-pengaturan-aplikasi"
                class="block py-2 text-gray-300 hover:text-white">Aplikasi</a>
        </div>
    </div>

    <!-- Format Laporan Pemeriksaan -->
    <a href="/laporan-bpk-apip" id="nav-bpk-apip"
        class="flex items-center px-6 py-2 text-white rounded-xl mx-2 mt-[10px] transition-colors duration-200 hover:bg-white/10 aria-[current=page]:bg-black/20">
        <i class="fas fa-file-alt w-6 text-center"></i>
        <span class="ml-4">BPK & APIP</span></a>

    <!-- Divider dan Hak Cipta -->
    <div class="px-8 py-2 mb-16">
        <hr class="border-t border-white/10">
        <p class="mt-4 text-xs text-yellowGolder">&copy; 2025. Indo Global Assistant. <br> All rights reserved.</p>
    </div>


    <!-- Tombol Logout (di bagian bawah) -->
    <div class="absolute w-full p-4">
        <button id="logout-button"
            class="w-full flex items-center justify-center px-4 py-2 text-white bg-red-500 rounded-3xl hover:bg-red-600 transition-colors duration-200">
            <i class="fas fa-sign-out-alt"></i>
            <span class="ml-3">Logout</span>
        </button>
    </div>
</nav>