<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Aplikasi Perjadin</title>
    <link href="/css/output.css" rel="stylesheet">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>

<body class="bg-slate-100 dark:bg-gray-900 flex items-center justify-center min-h-screen">
    <div class="w-full max-w-md p-8 space-y-8 bg-white dark:bg-gray-800 rounded-lg shadow-md">
        <div>
            <h2 class="mt-6 text-center text-2xl font-bold font-inter text-gray-900 dark:text-white">
                Masuk ke Aplikasi PERJADIN
            </h2>
        </div>
        <form id="login-form" class="mt-8 space-y-6" method="POST">
            <div id="notification" class="hidden p-4 mb-4 text-sm border rounded-lg dark:border-gray-600" role="alert">
                <!-- Pesan notifikasi akan muncul di sini -->
            </div>
            <div>
                <label for="tahun_anggaran" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Tahun
                    Anggaran</label>
                <select id="tahun_anggaran" name="tahun"
                    class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-green-500 focus:z-10 sm:text-sm"
                    placeholder="Tahun">
                    <option value="">2025</option>
                    <option value="">2026</option>
                    <option value="">2027</option>
                </select>
            </div>
            <div class="rounded-md shadow-sm -space-y-px">
                <div>
                    <label for="username" class="sr-only">Username</label>
                    <input id="username" name="username" type="text" autocomplete="username" required
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-green-500 focus:z-10 sm:text-sm"
                        placeholder="Username">
                </div>
                <div>
                    <label for="password" class="sr-only">Password</label>
                    <input id="password" name="password" type="password" autocomplete="current-password" required
                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-white placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-green-500 focus:z-10 sm:text-sm"
                        placeholder="Password">
                </div>
            </div>

            <div>
                <button type="submit"
                    class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Login
                </button>
            </div>
            <div>
                <h6 class="text-left">
                    Powered by Indo Global Assistant
                </h6>
            </div>
        </form>
    </div>
    <script src="/js/login.js"></script>
</body>

</html>